.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainBox ,.container{
  width:30%;
  margin-top: 6%;
}
.form-control:focus {
  border-color: #e5dfa1;
  box-shadow: inset 0 1px 1px rgb(250, 255, 238), 0 0 8px rgb(255, 255, 255);
  
  box-shadow: inset 0 0 0 100px ivory;
}

img{ 
  height: 75px;
}
h2{
  color:#f54952;

}
.btn-danger:hover{
  background-color:white;
  color:#f54952;
}
.control-label{
  float: left;
}
.buttonClass{
  float:right;
}
::placeholder{
  padding: 15px;
}
a{
  text-decoration: none;
}
.Box2{
  width: 55px;
}
.backButton{
  background-color: rgb(65, 19, 138);
  width:108px;
  margin-left: 10px;
  color:white;
}
.backButton:hover{
  background-color: white;
  color:rgb(65, 19, 138);
  border-color: rgb(65, 19, 138);
}
.exitClass{
  color: #ae2d68;
  
}
.btn-white:hover{
  background-color:#f54952;
}
.forgetButton{
  background-color:#f54952;

}
.modalHeight{
  margin-top: 10%;
  width: 400px;
  margin-left: 37%;
}
.imageClass{
  border-radius: 50%;
  height: 100px;
}
.locationBox{
  width:205px;
  height: 150px;
  align-items: center;
    justify-content: center !important;
    cursor: pointer;
    border-radius: 5px;
  
}
 .locationBox:hover{
  background-color:#f54952 ;
  color:white  !important;
  cursor: pointer;
  cursor: pointer;
  
  
}
.btn-close{
  display: block;
   float: right;
   position: relative;
   top: -40px;
   left: 15px;
   z-index: 1002;
   cursor: pointer;
}


.form-check-input:checked {
  background-color:#f54952 !important;
  border-color: #f54952 !important;
}
.ant-layout .ant-layout-sider-children {
 
  background-color: white;
}
.ant-layout.ant-layout-has-sider >.ant-layout, :where(.css-dev-only-do-not-override-1m62vyb).ant-layout.ant-layout-has-sider >.ant-layout-content {
  width: 0;
  background-color: white;
}
.ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-1m62vyb).ant-menu-light>.ant-menu .ant-menu-item-selected {
  color:#f54952;
  border-left: #f54952;
}
.zindexClass{
  z-index: 10000;
}
.searchClass{
  margin-left: 500px;
  border-radius: 30px;
}
.loginButton{
  width: 90px;
  height: 40px;
}
.cardClass{
  width: 100%;
    height: 55px;
    max-width: 55px;
   color:white;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    background: #660f56;
    cursor: pointer;
}
.cardThree{
  background: #AE2D68;
  cursor: pointer;

}
.cardTwo{
  background: #660f56;
  cursor: pointer;

}
.cardFour{
 background-color: rgb(40, 6, 89);
 cursor: pointer;

}
.cardFive{
  background: rgb(245, 73, 82);
  cursor: pointer;

}
.ant-card .ant-card-body {
  padding: 9px;
  margin-left: 1px;
}
.cardMain{
  height: 100px;
  width: 150px;
  padding: 5px !important;
}
.carousel-control-next-icon {
  margin-left: 40px;
  background-color: black;
 }
.carousel-control-prev-icon {
 
  background-color: black;
 }
 .paraColor{
  color: #660f56;
  

 }
 .paraColor2{
  color:#AE2D68;
  

 }
 .paraColor3{
  color: rgb(40, 6, 89);
  

 }
 .paraColor4{
  color:rgb(245, 73, 82)
  

 }
 